force-app/main/default/flows/rcUpload_Account_Logo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Account_Logo_Uploaded</name>
        <label>Action: Account Logo Uploaded</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <actionName>rcAction_Account_LogoUploaded</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>File_Uploaded</targetReference>
        </connector>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fileDetail.title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>versionID</name>
            <value>
                <elementReference>fileDetail.versionID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>fileDetail.path</assignToReference>
            <name>path</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Action_Input</name>
        <label>Set Action Input</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>fileDetail.recordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileDetail.versionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>File_Uploaded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileDetail.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fileNamePrefix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileDetail.title</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Account_Logo_Uploaded</targetReference>
        </connector>
    </assignments>
    <interviewLabel>rcUpload Business Unit Logo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Account Logo</label>
    <loops>
        <name>File_Uploaded</name>
        <label>File Uploaded</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>contentVersionIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Action_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_File_Uploaded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Upload_Image</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>fileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>screen_File_Uploaded</name>
        <label>File Uploaded</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fileUploaded_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Image File Stored&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;File Name Uploaded: {!fileDetail.path}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;File Name Stored: {!fileDetail.title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>navFinish</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Upload_Image</name>
        <label>Upload Image</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>fileUploader</name>
            <extensionName>c:rcFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acceptFileTypes</name>
                <value>
                    <stringValue>.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileHeaderText</name>
                <value>
                    <stringValue>Upload Image (png)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadMultiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentVersionIDs</assignToReference>
                <name>contentVersionIDs</name>
            </outputParameters>
        </fields>
        <fields>
            <name>navNext</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Save Image</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVersionIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileDetail</name>
        <apexClass>rcFileDetail_Aura</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileNamePrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>accountLogo_</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
