force-app/main/default/flows/rcUpload_Business_Unit_Logo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Action_Input</name>
        <label>Set Action Input</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>fileName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileDetail.recordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileDetail.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileDetail.versionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>File_Uploaded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Business_Unit_Logo_Uploaded</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Upload Business Unit Logo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Business Unit Logo</label>
    <loops>
        <name>File_Uploaded</name>
        <label>File Uploaded</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>contentVersionIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Action_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_File_Uploaded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen_File_Uploaded</name>
        <label>File Uploaded</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fileUploaded_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Business Unit Image File Stored&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Business Unit: {!record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;File Name Uploaded: {!fileDetail.path}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;File Name Stored: {!fileDetail.title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>navFinish</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Upload_Image</name>
        <label>Upload Image</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>fileUploader</name>
            <extensionName>c:rcFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acceptFileTypes</name>
                <value>
                    <stringValue>.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileHeaderText</name>
                <value>
                    <stringValue>Upload Image (png)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadMultiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentVersionIDs</assignToReference>
                <name>contentVersionIDs</name>
            </outputParameters>
        </fields>
        <fields>
            <name>navNext</name>
            <extensionName>c:RC_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Save Image</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_Upload_Image</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Action_Business_Unit_Logo_Uploaded</name>
        <label>Action: Business Unit Logo Uploaded</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>File_Uploaded</targetReference>
        </connector>
        <flowName>rcAction_Business_Unit_Logo_Uploaded</flowName>
        <inputAssignments>
            <name>fileDetail</name>
            <value>
                <elementReference>fileDetail</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>fileDetail</assignToReference>
            <name>fileDetail</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contentVersionIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileDetail</name>
        <apexClass>rcFileDetail_Aura</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>businessUnitLogo_</stringValue>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>rcBusiness_Unit__c</objectType>
    </variables>
</Flow>
